@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,300&family=PT+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Exo 2", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: crimson;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #3e4245;
    min-height: 100vh;
    width: 100%;
}

header {
    flex: 0 0 auto;
    align-content: center;
    width: 100%;
    height: 100px;
    background-color: #212121;
    color: white;
}

header h1 {
    margin: 20px;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.container {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #515158;
    color: white;
    font-size: 20px;
}

.container ul {
    list-style-type: none;

}

.container ul li {
    margin: 20px;
}

.container ul li a {
    text-transform: uppercase;
    font-size: 40px;

}

.container ul li a:hover {
    color: crimson;
    text-shadow: 2px 3px 4px #343232;
}

footer {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    min-height: 100px;
    background-color: #212121;
    font-size: 20px;
    color: white;
}
footer p {
    margin:10px
}

.nameBlock {
    flex-direction: column;
    width: 30%;
    flex-shrink: 0;
    align-content: center;
}

.navBar {
    height: auto;
    width:60%;
    flex-shrink: 0;

}

.navBar ul {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    list-style-type: none;
}

.navBar ul li {
    margin: 20px;
}