#trafficLight {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    width: 130px;
    justify-content: center;
    align-content: center;
}


.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    background-color: black;
    margin: 10px;
}